#banner {
    position: relative;
    margin-top: 50px;

    .bag-item {
        position: absolute;
        right: 30px;
        top: 30px;
        i{
            font-size: 30px;
            color: blueviolet;
        }
        span{
            position: absolute;
            top: -15px;
            border: 1px solid;
            background: rgb(192, 57, 57);
            color: white;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 1;
        }
    }
    .content{
        
    }
}